.intro {
	background-color: #222832;
	padding: 50px 0;
}

.intro p {
	color: #fff;
}

h1 {
	color: #fff;
}

h2 {
	font-size: 20px;
}

h3 {
	margin-top: 10px;
	font-size: 17px;
}

hr {
  border-top: 1px solid #C0B7B7;
}

.navbar {
	margin-bottom: 0;
}

footer {
	margin-top: 20px;
}

.login {
	max-width: 400px;
	margin: 40px 0 40px 0;
}

.pd {
    border-radius: 30px;
    background-color: #222832;
    width: 35px;
    height: 35px;
    display: block;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 7px 0px 0 2px;
    margin: 8px 5px 0 15px;
    font-weight: lighter;   

    position: relative;
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -o-transition-duration: .8s;
    -ms-transition-duration: .8s;

}

.pd:hover {
    text-decoration: none; 
    color: #fff;

    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
}

.pd:focus,
.pd:blur {
    text-decoration: none; 
    color: #fff;
}

.lg .pd {
	margin: 8px 25px 0 0;
}

/*
media queries used in conjunction with lmn-js/breakpoints.js
these must be combined with bootstrap's less variables
*/

body:after {
    content: 'xs'; /* represent the current width-bracket */
    font-size: 1px;
    background: #ccc;
    display: block;
}

@media screen and (min-width: 768px) {
    body:after {
        content: 'lg'; /* represent the current width-bracket */
    }
}

